.Home{
    padding-bottom: 100px;
    padding-top:70px
}
.section-title{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.borderCard{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px 30px 0px 30px;
      }


.container-skills{
    z-index: 1000;
}
.skills-direction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skills-size{
    height: 80px;
    width: 80px;
    margin: 20px;
    fill:#0d52b5
}
.skills-size:hover path {
    fill: #73ADFF;
    
  }
.navbar-style{
    width: 100%;
    position: fixed;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top, #f8fcf7, transparent);
}
.btnNav{
    background: none;
    outline: none;
    color: rgba(35, 35, 35, 0.65);
    font-weight: 1000;
    border:none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}
.btnNav:hover{
    color: #0d52b5;
}
.container-display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:30px;
}
.contact-container{
    display: flex;
    justify-content: center;
    width:100%;
    height: 100px;
}
.contact-icon{
    height: 80px;
    width: 80px;
    padding:10px;
    margin-left:20px;
    border: 1px solid black;
}

@media only screen and (min-width: 350px) and (max-width:640px){
.borderCard{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    margin-bottom: 20px;
}
.card-body{
    margin-bottom: 20px;

}
.navbar-style{
    justify-content: center;
}
}