.Home{
    padding-bottom: 100px;
    padding-top:70px
}
.section-title{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    color: rgba(35, 35, 35, 0.65);

}
.borderCard{
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px 30px 0px 30px;
      }



.skills-direction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 70px;
}

.skills-size{
    height: 80px;
    width: 80px;
    margin: 20px;
    fill:#0d52b5
}
.skills-size:hover path {
    fill: #73ADFF;
    
  }
.navbar-style{
    width: 100%;
    position: fixed;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(top, #f8fcf7, transparent);
    z-index: 9000;
}
.btnNav{
    background: none;
    outline: none;
    color: rgba(35, 35, 35, 0.65);
    font-weight: 1000;
    border:none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}
.btnNav:hover{
    color: #0d52b5;
}
.container-display{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top:100px;
    padding-bottom: 250px;

}
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-icon{
    height: 80px;
    width: 80px;
    margin:10px;
    fill:  #5d6d7e ;
}
.contact-icon:hover
    {
      -moz-box-shadow: 0 0 10px  #abb2b9 ;
      -webkit-box-shadow: 0 0 10px  #abb2b9 ;
      box-shadow: 0 0 10px  #abb2b9 ;
    }

@media (max-width: 414px){
        body{
          background-image: url('../images/fondo2.jpg');
          height: 100%;
          width: 100%;
          background-attachment: fixed;
          background-size:     cover; 
          background-repeat:   no-repeat;
          background-position: center center; 
        }
        .btn-cv{
            display: flex;
            width: auto;
            align-content: center;
        }
        h3{
        text-align: center;

        }
        .logoSize {
            height: auto;
            width: 95%;
            padding-left: 15px;
            padding-top: 10px;
        }
        .logoName{
        margin: 0px;
        padding: 0px;
        }
        .aboutMe {
            margin: 60px 0px 0px 15px;
            font-size: 12px;
            padding-right: 5px;
        }
      .btnNavRespo{
        padding-top: 30px;
      padding-left: 4px;
      padding-right: 4px;
        font-size: 12px;
      }
      .btn-cv {
        margin: 80px 0px 0px 60px;
    }
      .navbar-style{
        justify-content: center;
      }
      .skills-direction{
          padding-top: 30px;
          padding-left: 40px;
          width:auto;
          justify-content: center;
          align-items: center;
          margin:0 auto;
      }

      .section-title{
          padding-top: 80px;
      }
      .container-display{
          flex-direction: column;
          padding:0;
      }
      .borderCard{
        padding:0;
      }
      }

@media only screen and (min-width: 415px) and (max-width:700px){
.borderCard{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    margin-bottom: 20px;
}
.card-body{
    margin-bottom: 20px;

}
.navbar-style{
    justify-content: start;
    padding: 10px;
    
}
.btnNav{
    padding-left:8px;
    padding-right: 10px;
    font-size: 14px;
}
.skills-direction{
    padding-top: 10px;
    padding-left: 20px;
}
.container-display{
    flex-direction: column;
    padding-top: 0;
}
}