*{
  font-family: 'Cousine', monospace;
  padding: 0px;
}
body{
  height: 100%;
  width: 100%;
  background-image: url('./images/abstract-2069084_1920.jpg');
  background-attachment: fixed;
  background-size:     cover; 
  background-repeat:   no-repeat;
  background-position: center center; 
}

/* h1{
  color: #6085BD;
  margin: 0px 0px 0px 10px;
} */
.logoName{
  margin-top: 100px;
  margin-left: 70px;
}
.logoSize{
  width:500px;
  height:250px;
}
.justify-content-end{
  font-weight: bold;
}

.aboutMe{
 height: auto; 
 width: 400px;
 margin: -150px 10px 0px 800px;
 text-align: justify;
 color: rgba(35, 35, 35, 0.65);
 font-size: 18px;
}
.btn-cv{
  margin: 50px 10px 0px 910px;
}
.backgroundColor{
  width:20px;
  height:10px
}
.proyLink{
  font-weight: bold;
  color: white;
  margin: 8px;
  padding: 4px;
  background-color: white;
  color: rgba(35, 35, 35, 0.65);
  border-radius: 5px;
}
.resumen{
  font-weight: bolder;
}
.h3-responsive{
  font-weight: bolder;
}
.cardTitle{
font-weight: bolder;
}


@media (max-width:415px) and (max-width:700px){
body{
  background-image: none;
  background-color: white;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-size:     cover; 
  background-repeat:   no-repeat;
  background-position: center center; 
}
.logoSize{
  width:300px;
  height:150px;
}
.logoName{
  margin: 20px 0px 0px 40px;
  padding-left: 20px;
}
.aboutMe{
  margin: 60px 0px 0px 40px;
  width: auto;
  font-size: 14px;
  font-weight: 900;
  padding-right: 20px;
}
.btn-cv{
  display: flex;
  width: auto;
  align-content: center;
  justify-content: center;
  margin: 0;
}
.carruselContainer{
margin-top: 50px;
}
.h3-responsive{
  font-size: 16px;
}
.resumen{
  font-size: 14px;
  font-weight: bolder;
}
.borderCard{
  margin: 30px 0px 10px 0px;
}
}