*{
  font-family: 'Cousine', monospace;
  /* margin: 0px; */
  padding: 0px;
  font-weight: initial;
}
body{
  background-image: url('./images/abstract-2069084_1920.jpg');
  background-attachment: fixed;
  background-size:     cover; 
  background-repeat:   no-repeat;
  background-position: center center; 
}

/* h1{
  color: #6085BD;
  margin: 0px 0px 0px 10px;
} */
.logoName{
  margin-top: 100px;
  margin-left: 70px;
}
.justify-content-end{
  font-weight: bold;
}

.aboutMe{
 height: 100px; 
 width: 400px;
 margin: -100px 10px 0px 800px;
 text-align: justify;
 color: rgba(35, 35, 35, 0.65);
 font-size: 18px;
}

.backgroundColor{
  width:20px;
  height:10px
}
.proyLink{
  font-weight: bold;
  color: white;
  margin: 8px;
  padding: 4px;
  background-color: white;
  color: rgba(35, 35, 35, 0.65);
  border-radius: 5px;
}
p{
  font-weight: bold;
}
